.single_product {
  background-color: white;

  z-index: 5;
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  top: 140px;
  align-items: center;
  padding: 0px 20px;
}

.single_product_img {
  min-width: 400px;
  img {
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
    height: 540px;
    box-shadow: 0 4px 10px -2px rgba(120, 217, 255, 0.608);
  }
  img:hover {
    border-radius: 6px;
    height: 540px;
    box-shadow: 0 4px 16px 1px rgba(50, 197, 254, 0.608);
  }
}
.single_product_detal {
  max-width: 380px;
  margin: 0px 0px 0px 80px;
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
    color: rgb(255, 183, 0);
    margin: 10px 0;
  }
  p {
    font-size: 1rem;
  }
  label {
    display: block;
    margin-top: 10px;
  }
  select {
    width: 100%;
    padding: 6px;
    border-radius: 6px;
  }

  // .add_to_cart {
  //   margin-top: 20px;
  //   font-weight: 400;
  //   display: inline-block;
  //   padding: 8px 16px;
  //   border: 1px solid #ccc;
  //   border-radius: 4px;
  // }
  // .add_to_cart:hover {
  //   background-color: rgb(255, 183, 0);
  //   color: white;
  //   cursor: pointer;
  // }

  /* CSS */
  .add_to_cart {
    user-select: none;
    text-align: center;
    margin-top: 20px;
    // width: 220px;
    height: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-bottom: 50px;
  }

  .add_to_cart:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .add_to_cart:active {
    color: #000;
  }

  .add_to_cart:active:after {
    background: transparent;
  }

  .add_to_cart:hover:before {
    opacity: 1;
  }

  .add_to_cart:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}
.standard {
  background-color: rgb(26, 190, 255);
  margin-left: 6px;
  padding: 4px 6px 6px 6px;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1rem;
  color: white;
}
.selcectSize {
  background-color: #00ffd5;
}
@media only screen and (min-width: 1024px) {
  .add_to_cart {
    user-select: none;
    text-align: center;
    margin-top: 20px;
    width: 220px;
    height: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
}
/* Chia layout trên kích thước màn hình trung bình */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .single_product {
    flex-direction: column;
  }
  .single_product_img {
    text-align: center;
  }
  .single_product_detal {
    margin: 0;
    h1 {
      margin-top: 20px;
    }
  }
  .add_to_cart {
    width: 100%;
    margin-bottom: 40px;
  }
}

/* Chia layout trên kích thước màn hình nhỏ */
@media only screen and (max-width: 767px) {
  .single_product {
    flex-direction: column;
  }
  .single_product_img {
    text-align: center;
  }
  .single_product_detal {
    margin: 0;
    h1 {
      margin-top: 20px;
    }
  }
  .add_to_cart {
    width: 100%;
    margin-bottom: 40px;
  }
}
